<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style-lp.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&amp;display=swap" rel="stylesheet">
        <title>Login-Key Security System</title>
    </head>
    <body>
    <div class="container-main">
        <div class="container-background-img">
            <img src="img\white-background-image1.png" class="background-img">
            
            <div class="">
                <form action="">
                    <div class="container" id="container1">
                        <div class="container-img">
                                <img src="img\Somaiya_Logo1-no background.png" alt="somaiya logo" somaiya_logo="">
                        </div>
                        <div class="container-partition-line">
                        </div>
                        <div class="container-info">
                            <h4 class="container-heading">USER LOGIN</h4>
                            <label class="container-label-username">Username</label>
                            <input type="text" class="container-textbox-username" placeholder="Enter Username" name="Username" required="">
                            <label class="container-label-password">Password</label>
                            <input type="text" class="container-textbox-password" placeholder="Enter Password" name="Password" required="">
                            <div class="container-save-forget-password">
                                <input type="checkbox" class="container-checkbox" checked="checked"> 
                                <p class="container-remember-me">Remember Me</p>
                                <a href="#" class="container-link">Forget Password?</a>
                            </div>
                            <button type="submit" class="container-submit-button">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>
