<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user details</title>
</head>
<body>
    <form>
        <label>RFID</label>
        <textbox></textbox>
        <label>Room No</label>
        <textbox></textbox>
        <label>Borrower's Name</label>
        <textbox></textbox>
        <label>Mobile No.</label>
        <textbox></textbox>
        <label>Time In</label>
        <textbox></textbox>
        <label>Returner's Name</label>
        <textbox></textbox>
        <label>Mobile No</label>
        <textbox></textbox>
        <label>Time Out</label>
    </form>
</body>
</html>